<section class="admin-products-index">

  <header class="page-header">
    <h1>Admin &raquo; Dashboard</h1>
  </header>

  <div class="panel panel-default items">
    <h3>Number of <%= link_to 'Products', admin_products_path %> in Store: <%= @product_count %></h3>
    <h3>Number of <%= link_to 'Categories', admin_categories_path %> in Store: <%= @category_count %></h3>
  </div>

</section>
